node_modules
.env
coverage
coverage.json
typechain
typechain-types
.DS_Store

# Hardhat files (legacy)
cache
artifacts

# Foundry
out/
cache/
lib/
broadcast/

# Controller config
controller.config.json
