{
  "test": {
    "AUTO_LOOP": "",
    "AUTO_LOOP_REGISTRY": "",
    "AUTO_LOOP_REGISTRAR": "",
    "SAMPLE_GAME": ""
  },
  "main": {
    "AUTO_LOOP": "",
    "AUTO_LOOP_REGISTRY": "",
    "AUTO_LOOP_REGISTRAR": "",
    "SAMPLE_GAME": ""
  }
}
